Debug
debug
Release
release
Output
output
/capture/*.suo
/capture/*.ncb
/capture/gyazowin.vcproj.*
/capture/ipch
/capture/gyazowin/*.user
/taskbar/bin
/taskbar/obj
/taskbar/gyazo-plus.csproj.user
/taskbar/gyazo-plus.suo
/capture/gyazowinpp.sdf
/installer/*.exe
/capture/.vs/gyazowinpp/v14/.suo
/capture/gyazowinpp.VC.opendb
/capture/*.opendb
/capture/*.db
